@import "constants";

.todos-Index {
  & {
  }
  &_header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $size_headerHeight;
  }
  &_main {
    margin-top: $size_headerHeight;
    display: flex;
    min-height: calc(100vh - #{$size_headerHeight} );
  }
  &_sidebar {
    width: $size_sidebarWidth;
    background: #ff0;
    padding: 15px;
  }
  &_createForm {
  }
  &_list {
    flex: 1;
    background: #f0f;
    padding: 15px;
  }
  &_listItem {
    margin-bottom: 10px;
  }
}
