$headerHeight: 100px;
.layout-Todos {
  & {
  }
  &_header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $headerHeight;
  }
  &_main {
    margin-top: $headerHeight;
    background: #ff0;
    min-height: calc(100vh - #{$headerHeight} );
  }
}
